# Defines plugins to load

# Define plugin folder
PluginFolder=/usr/lib/OGRE/

# Define plugins
#Plugin=RenderSystem_Direct3D9
Plugin=RenderSystem_GL
Plugin=Plugin_ParticleFX
Plugin=Plugin_BSPSceneManager
#Plugin=Plugin_CgProgramManager
Plugin=libPlugin_PCZSceneManager
Plugin=Plugin_OctreeZone
Plugin=Plugin_OctreeSceneManager

