// system includes
#include <QObject>
#include <QtTest/QtTest>

// classes to be tested

class ##TEST_CLASS_NAME# : public QObject
{
    Q_OBJECT

private slots:
    // Test case declarations
    
};

// Test case implementations

// End of Tests

QTEST_MAIN(##TEST_CLASS_NAME#)
#include "##TEST_CLASS_FILENAME#.moc"
